:local(button.button) {
    border-radius: 0;
    font-size: 0.875rem;

    border-color: #929292;
    color: #333333;

    padding: 6px 38px;

    min-width: auto;
    
    &:hover {
        box-shadow: none !important;
    }
    
    &.danger {
        border-color: #C82A24;
        background-color: #C82A24;
        color: #ffffff;
        
    }

    
}


